
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(240, 126, 32);
}

.search__container{
 width: 400px;
 background-color: white;
}
.serch__input{
  width:95%;
  border: none;
}